

class __CURRENCY_CLASS__(Currency):
    """__CURRENCY_NAME__ currency representation.

    Simple usage example:

        >>> from multicurrency import __CURRENCY_CLASS__
        >>> __CURRENCY_VARIABLE__ = __CURRENCY_CLASS__(amount=1)
        >>> print(__CURRENCY_VARIABLE__)
        __SYMBOL__1__DECIMAL_PART__

    For more details see `multicurrency.currency.Currency` .

    Args:
        amount (Union[int, float, Decimal]): Represented value.
        decimal_places (int, optional): Number of decimal places for the
            currency representation. Defaults to __DECIMAL_PLACES__,
        decimal_sign (str, optional): Decimal symbol. Defaults to '__DECIMAL_SIGN__'.
        grouping_sign (str, optional): Grouping symbol. Defaults to '__GROUPING_SIGN__'.
        international (bool, optional): Identifies the currency using
            the 'currency' value instead of the 'symbol'. Defaults to
            False.
    """

    __slots__ = []

    def __new__(  # pylint: disable=signature-differs,disable=unused-argument
            cls,
            amount: Union[int, float, Decimal],
            decimal_places: int = __DECIMAL_PLACES__,
            decimal_sign: Optional[str] = '__DECIMAL_SIGN__',
            grouping_sign: Optional[str] = '__GROUPING_SIGN_ALT__',
            international: bool = False,
            **other) -> '__CURRENCY_CLASS__':
        """Class creator.

        Returns:
            __CURRENCY_CLASS__: new opbject.
        """
        return Currency.__new__(
            cls,
            amount=amount,
            alpha_code='__CURRENCY__',
            numeric_code='__CODE__',
            symbol='__SYMBOL__',
            decimal_places=decimal_places,
            decimal_sign=decimal_sign,
            grouping_sign=grouping_sign,
            international=international)
